@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}

.logo {
  margin-top: 30%;
}

.logo img {
  width: 25%;
}

.loginForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin-top: 20%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.input {
  display: flex;
  width: 100%;
  justify-content: center;
}

.input input {
  text-align: left;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  outline: none;
}

.input button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  color: #808080;
}

.sup {
  margin-top: 5%;
  white-space: pre-line;
}

.sup a {
  text-decoration: none;
  color: #808080;
  font-size: 12px;
}
